:root {
  --primaryBg: #0d1117;
  --containerBoxBg: #212121;
  --sidebarBg: #1c1c1c;
  --primaryText: #fcf6f3;
  --secondaryText: #a6a6a6;
  --grayBtnBg: #1f1f1f;
  --inputBg: #2e2e2e;
  --borderColor: #363636;

  --accentColor: #324277;
  --inactiveBlueBtn: #2a324d;
  --btnHoverBlue: #303e6d;

  --aiMessageBg: #314176;
}

*{
  margin: 0;
  border: 0;
}