.dashboard-wrapper {
    background-color: var(--primaryBg);
    color: var(--primaryText);
    font-family: VennRegular;
    padding: 1.5rem 2rem;
}

.dashboard-h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 1.1rem 0;
}

.dashboard-desc {
    color: var(--secondaryText);
    font-size: 0.9rem;
    margin: 0 0 2rem 0;
}

.dashboard-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.dashboard-lessons,
.dashboard-tasks,
.dashboard-days {
    background: var(--containerBoxBg);
    border: 2px solid var(--borderColor);
    border-radius: 12px;
    padding: 1.5rem;
}

.lessons-text,
.tasks-text,
.days-text {
    margin: 0;
    font-size: 0.85rem;
    color: var(--secondaryText);
    line-height: 1.4;
}

.lessons-number,
.task-number,
.days-number {
    font-size: 1.5rem;
    font-weight: 700;
    background: linear-gradient(90deg, #60a5fa, #34d399);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media (max-width: 640px) {
    .dashboard-wrapper {
        padding: 1.5rem;
    }

    .dashboard-h1 {
        font-size: 1.5rem;
    }

    .dashboard-info {
        grid-template-columns: 1fr;
        gap: 0.75rem;
    }
    
     .dashboard-lessons,
    .dashboard-tasks,
    .dashboard-days {
        text-align: center;
        padding: 1rem 1.5rem;
    }

    .lessons-text,
    .tasks-text,
    .days-text {
        line-height: 1.4;
    }

}

@media (max-width: 380px) {
    .dashboard-wrapper {
        padding: 1rem;
    }

    .dashboard-h1 {
        font-size: 1.25rem;
    }

    .dashboard-desc {
        font-size: 0.8rem;
    }
}